@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body #root {
  padding: 8rem;
  height: 100vh;
  background-image: url("../src/assets/clouds.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  height: 100%;
}

.dropdown {
  display: flex;
  height: 60px;
  align-items: center;
  padding: 0 10px;
  text-decoration: underline;
  color: #575757;
  /* background: #fff; */
  cursor: pointer;
}

button:hover {
  background: #cccccc;
}

.chart {
  height: 500px;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(5px);
  overflow: hidden;
}

.error {
  align-self: center;
  color: red;
}

.glass {
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(5px);
}

.weathernow-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 50px;
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(10px);
}

@media (max-width: 400px) {
  .card-weather {
    display: flex;
    flex-direction: column;
  }
  body #root {
    padding: 0rem;
  }
  .weathernow-container {
    flex-grow: 0 !important;
    padding: 0px;
  }
  .weathernow-container .weather-info {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;    
  }
  .weather-info p {
    margin-right: 0rem !important;
  }
  .weathernow-local {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    margin-right: 0rem !important;
  }
}